<!-- 新規投稿がされるとこのページが表示される book detail-->
<!-- ここにコメント欄といいね機能を追加 コメントするとこのページに反映される-->
<div class="container"> <!-- ここを追加 -->
	<div class="row">
		<div class="col-xs-3">

			<h2>User info</h2>
			<%= render 'users/profile' , user: @user %>

			<h2>New book</h2>
			<!-- @bookは空の（データが入っていない）book -->
			<%= render 'books/newform', user: @user, book: @book %>

		</div>

		<div class="col-xs-9">
			<h2>Book detail</h2>

			<table class="table">
				<tr>
					<td>
						<%= link_to user_path(@find_book.user.id) do %>
						<%= attachment_image_tag(@find_book.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
						<%= @find_book.user.name %>
						<% end %>
					</td>
					<!-- 本のタイトル -->
					<!-- ブラウザのurlと同じidのbookのデータが欲しい @find_bookはデータを持ったbook-->
					<td><%= link_to @find_book.title, book_path(@find_book.id) %></td>
					<!-- 本の内容 -->
					<td><%= @find_book.body %></td>
					<!-- いいね機能 -->
					<td>
						<!-- ifにかけるのは投稿された本　@bookだとBook.new（空の本)だからいいねが反映されない -->
							<% if @find_book.favorited_by?(current_user) %>

							<%= link_to book_favorites_path(@find_book), method: :delete do %>
							<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
							<!-- いいねのカウントは投稿された本 @find_book @bookではない-->
							<%= @find_book.favorites.count %>
							<% end %>
							<% else %>
							<%= link_to book_favorites_path(@find_book), method: :post do %>
							<i class="fa fa-heart-o" aria-hidden="true"></i>
							<%= @find_book.favorites.count %>
							<% end %>
							<% end %>
						</td>
					<!-- ポストコメントモデルに入っている中でbook_idが一緒のもののコメント数を表示 -->
					<td>コメント数:<%= @post_comments.count %>件</td>
					<!-- もし、本の投稿をしたユーザー(@user = @find_book.user)と現在ログインしているユーザー(current_user)が一致していたらEditとDestroyを表示 -->
					<% if @user == current_user %>
					<td><%= link_to "Edit", edit_book_path(@find_book), class: "btn-sm btn-success edit_book_#{@find_book.id}" %></td>
					<td><%= link_to "Destroy", book_path(@find_book), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@find_book.id}" %></td>
					<% end %>
				</tr>
			</table>

			<!-- コメント表示欄作成 -->
			<table class="table">
				<tbody>
					<% @post_comments.each do |post_comment| %>
					<tr>
						<td>
							<%= link_to user_path(@find_book.user.id) do %>
							<%= attachment_image_tag(@find_book.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
							<%= post_comment.user.name %>
							<% end %>
						</td>
						<td>
							<%= post_comment.comment %>
						</td>
						<td>
							<% if post_comment.user == current_user%>
							<%= link_to "Destroy", post_comment_path(post_comment), method: :delete, class: "btn btn-danger pull-right" %>
						</td>
						<% end %>
						<% end %>
					</tr>
				</tbody>
			</table>

			<!-- コメント欄作成 -->
			<%= form_for [@post_comment] do |f| %>
			<div class="row">
				<div class="col-sm-12">
					<%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
				</div>
			</div>
			<%= f.hidden_field :book_id, :value => @find_book.id %>
			<%= f.submit "送信", class: "pull-right" %>
			<% end %>

			<!-- コメント欄作成 -->

		</div>
	</div>
</div>

